* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

#main {
    width: 650px;
    height: 481px;
    border: 1px solid #666666;
    box-shadow: 5px 5px 5px #666666;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #ffffff;
    border-radius: 8px;
}

header {
    height: 75px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    background-color: #666666;
    color: #ffffff;
    padding-top: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#game {
    width: 461px;
    height: 329px;
    margin: 10px auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;

}

#display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    width: 311px;
    height: 311px;
}
.cell {
    width: 30px;
    height: 30px;
    background-color: #c0c0c0;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
    box-shadow: 1px 1px 1px #666666;
}

.chosenCell {
    background-color: #ffeaa8;
}

.findedCell {
    background-color: #87cd87;
}

#sideBoard{
    display: flex;
    flex-direction: column;
    width: 150px;
}

#wordsList {
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.hidden {
    color: transparent;
    background-color: #c0c0c091;
    box-shadow: 1px 1px 1px #666666;
    border-radius: 5px;
    width: 90px;
}
.shown {
    color: #000000;
    text-align: center;
    background-color: #c0c0c091;
    box-shadow: 1px 1px 1px #666666;
    border-radius: 5px;
    width: 90px;
}

#boardMsg {
    background-image: url('_images/img_message.png');
    width: 150px;
    height: 106px;
    text-align: center;
    padding: 12px 20px 35px 20px;
    font-size: 14px;
}

#button {
    width: 106px;
    height: 45px;
    background-color: #c0c0c091;
    box-shadow: 1px 1px 1px #666666;
    border-radius: 5px;
    text-align: center;
    padding-top: 14px;
    margin: 0 auto;
    margin-top: 22px;
    transition: color 0.8s;
}
#button:hover {
    background-color: #666666;
    color: #ffffff;
}


footer {
    color: #666666;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #666666;
}

footer p {
    margin-top: 8px;
}